{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always"
}
